*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.N-main-container {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.N-main-container img{
    height: 10px;
    width: 10px;
}

.N-main-container h1{
    font-size: 25px;
    font-weight: normal;
}

.N-main-container a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

/* main mini blog */

.miniblog1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 400px;
}

.item1,
.item2,
.item3,
.item4,
.item5{
    position: relative;
}

.text{
    position: absolute;
    bottom: 20px;
}